# Decision tree classification

In [1]:
#takes decision on variable,data
#to divide dataset into more number of parts we use decision tree
#entropy is measure of randomness in sample
#low entropy:less variation 
#high entropy:more variation
#alwways try to decrease the variation
#Gini impurity:it is impurity in dataset
#

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("./CSV/salaries.csv")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
df.describe()

       salary_more_then_100k
count                 16.000
mean                   0.625
std                    0.500
min                    0.000
25%                    0.000
50%                    1.000
75%                    1.000
max                    1.000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

# level encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
ar_company=le.fit_transform(df.company)
ar_job=le.fit_transform(df.job)
ar_degree=le.fit_transform(df.degree)

In [8]:
df=df.drop(['company','job','degree'],axis=1)
df_company=pd.Series(ar_company,name='company')
df_job=pd.Series(ar_job,name='job') 
df_degree=pd.Series(ar_degree,name='degree')

In [9]:
df=pd.concat([df,df_company,df_job,df_degree],axis=1)
df.head()

   salary_more_then_100k  company  job  degree
0                      0        2    2       0
1                      0        2    2       1
2                      1        2    0       0
3                      1        2    0       1
4                      0        2    1       0

In [10]:
y=df.salary_more_then_100k
x=df.drop(['salary_more_then_100k'],axis=1)
x
y
print(x)
print(y)

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1
0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
from sklearn import tree

In [13]:
model=tree.DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [14]:
y_predict=model.predict(x_test)
y_predict

array([1, 1, 0, 1], dtype=int64)

In [15]:
print(y_test)

2     1
5     1
11    1
4     0
Name: salary_more_then_100k, dtype: int64

In [16]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

[[0 1]
 [1 2]]

In [17]:
model.score(x_test,y_test)

0.5

# random forest

In [18]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier(n_estimators=20)
model1.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20)

In [19]:
y_predict=model1.predict(x_test)
y_predict

array([1, 1, 0, 1], dtype=int64)

In [20]:
print(y_test)

2     1
5     1
11    1
4     0
Name: salary_more_then_100k, dtype: int64

In [21]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

[[0 1]
 [1 2]]

In [22]:
model1.score(x_test,y_test)

0.5

# KNN

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [24]:
y_predict=knn.predict(x_test)
y_predict

array([1, 1, 1, 1], dtype=int64)

In [25]:
print(y_test)

2     1
5     1
11    1
4     0
Name: salary_more_then_100k, dtype: int64

In [26]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

[[0 1]
 [0 3]]

In [27]:
knn.score(x_test,y_test)

0.75